*{
	box-sizing: border-box;
}

body{
	margin:0;
	font-family: sans-serif;
	background-color: #efefef;
}

.container{
	max-width: 1000px;
}

.gallery{
	width: 100%;
	padding:30px 15px;
	display: flex;
	justify-content: center;
}

.gallery .title h1{
	font-size:36px;
	margin:0 0 30px;
	color:#000000;
	text-align: center;
}

.gallery .gallery-items {
	gap: 10px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.gallery .gallery-items .item{
	width: 20%;
	position: relative;
	transition: all .4s ease-in-out;
	display: flex;
	border-radius: 20px;
	overflow: hidden;
}


.gallery .gallery-items .item:hover {
	transform: scale(1.1);
	z-index: 2;
}

.gallery .gallery-items .item.hide{
	display: none;
}

.gallery .gallery-items .item.show{
	display: block;
	animation: show .5s ease;
}

@keyframes show{
    0%{
    	opacity:0;
    	transform: scale(0.9);
    }
    100%{
    	opacity:1;
    	transform: scale(1);
    }
}


.gallery .gallery-items .item img{
	width: 100%;
	display: block;
}

.gallery .gallery-items .item .caption{
	position: absolute;
	left:0px;
	bottom:0;
	background-color: rgba(0,0,0,.5);
	padding:10px;
	width: 100%;
	color:#ffffff;
	text-align: center;
}

.gallery .pagination{
	width: 100%;
	padding:15px;
	text-align: center;
	padding-bottom: 100px;
}

.gallery .pagination div{
	display: inline-block;
	margin:0 10px;
}

.gallery .pagination .page{
	color:gray;
}

.gallery .pagination .prev,.gallery .pagination .next{
 color:#000;
 border:1px solid #000;
 font-size:15px;
 padding:7px 15px;
 cursor: pointer;
}

.gallery .pagination .prev.disabled,
.gallery .pagination .next.disabled{
	border-color: gray;
	color:gray;
	pointer-events: none;
}
